pre {
    display: block;
    padding: 9.0px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
code-js, kbd-js, pre-js, samp-js {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-style: italic;
}

code-css, kbd-css, pre-css, samp-css {
    font-family: Arial, Helvetica, sans-serif;
}

code-html, kbd-html, pre-html, samp-html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

code, kbd, pre, samp {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


